.custom-scrollbar::-webkit-scrollbar {
    width: 12px;
    background-color: transparent !important;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent !important;
    border-radius: 20px;
    border-right: 10px solid transparent !important;
    border-left: 10px solid transparent !important;
    background-clip: padding-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: transparent !important;
}
/* Hacer la pista de la barra de desplazamiento transparente */
.custom-scrollbar::-webkit-scrollbar-track {
    background-color: transparent !important;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

